<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzh.dao.RelevanceMapper">
  <resultMap id="BaseResultMap" type="com.wzh.model.Relevance">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="tid" jdbcType="VARCHAR" property="tid" />
    <result column="rid" jdbcType="VARCHAR" property="rid" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tid, rid, time
  </sql>
  <select id="findAll" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT r.*,s.pic,s.name FROM relevance r
    LEFT JOIN spot s on s.id = r.rid
    <where>
      <if test="tid != null and tid != ''">
       and r.tid = #{tid,jdbcType=VARCHAR}
      </if>
      <if test="name != null and name != ''">
        and s.name like '%${name}%'
      </if>
    </where>
    order by time desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from relevance
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from relevance
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wzh.model.Relevance">
    insert into relevance (id, tid, rid,
      time)
    values (#{id,jdbcType=VARCHAR}, #{tid,jdbcType=VARCHAR}, #{rid,jdbcType=VARCHAR},
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wzh.model.Relevance">
    insert into relevance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="rid != null">
        rid,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wzh.model.Relevance">
    update relevance
    <set>
      <if test="tid != null">
        tid = #{tid,jdbcType=VARCHAR},
      </if>
      <if test="rid != null">
        rid = #{rid,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wzh.model.Relevance">
    update relevance
    set tid = #{tid,jdbcType=VARCHAR},
      rid = #{rid,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
